# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]

# ===============================
# Jupyter / Colab
# ===============================
.ipynb_checkpoints/
*.ipynb

# ===============================
# Data files (raw only)
# ===============================
*.csv
*.xlsx

# ===============================
# Figures
# ===============================
*.png
*.jpg
*.jpeg

# ===============================
# IMPORTANT
# Do NOT ignore trained ML models
# ===============================
# *.pkl      <-- УБРАНО
# *.joblib   <-- УБРАНО
